@model EventReminderApp1.Models.ResetPasswordModel

@{
    ViewBag.Title = "ResetPassword";
}

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>ResetPassword</title>
        <link href="~/CSS/Create.css" rel="stylesheet" />

    </head>
    <body>
        <div class="text-danger">
            @ViewBag.Message
        </div>
        <div class="container border" style="margin-top: 5%;">
            <div class="form" style="margin-top: 20px;">
                <form method="POST">
                    <div class="form-content">
                        <div class="row">
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="label-wrapper">New Password </label>
                                </div>
                                <div class="col-md-8">
                                    <input type="password" class="text-wrapper" id="resetnewpass" name="NewPassword" placeholder="New Password" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="label-wrapper">Confirm Password </label>
                                </div>
                                <div class="col-md-9">
                                    <input type="password" class="text-wrapper" id="resetconfirmpass" name="ConfirmPassword" placeholder="Confirm Password" required />
                                </div>
                            </div>
                            <<div class="row">
                                <div class="col-md-8">
                                    <input type="hidden" id="resetcode" name="ResetCode" value="@Model.ResetCode" />
                                </div>
                             </div>
                            <div>
                                <button type="submit" id="btnResetSave" class="success buttonsave pull-left" onclick="return Validate();">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script type="text/javascript">
            function Validate() {
                var password = document.getElementById("resetnewpass").value;
                var confirmPassword = document.getElementById("resetconfirmpass").value;
                if (password != confirmPassword) {
                    alert("Passwords do not match.");
                    return false;
                }
                return true;
            }
        </script>
    </body>
    </html>

