
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
    <link href="~/CSS/Create.css" rel="stylesheet" />

</head>
<body>
    <div class="container border" style="margin-top: 5%;">
        <div class="form" style="margin-top: 20px;">
            <form method="POST">
                <div class="form-content">
                    <div class="row">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label-wrapper">New Password :</label>
                            </div>
                            <div class="col-md-8">
                                <input type="password" class="text-wrapper" id="resetnewpass" placeholder="New Password" required />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label-wrapper">Confirm Password :</label>
                            </div>
                            <div class="col-md-9">
                                <input type="password" class="text-wrapper" id="resetconfirmpass" placeholder="Confirm Password" required />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <input type="hidden" id="resetcode" name="ResetCode" />
                            </div>
                        </div>
                        <div>
                            <button type="submit" id="btnResetSave" class="btn btn-default buttonsave pull-left">Save</button>
                        </div>
                    </div>
                </div>
             </form>
        </div>
    </div>
</body>
</html>