.create-align{
    margin-top: 10%;
    margin-left: 25px;
}
.content {
    margin-left: 10% 15% 20% 15%;
}

.heading {
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 25px;
}

.label-wrapper {
    display:inline-block;
    text-align: right;
    position: relative;
    float: initial;
    overflow: hidden;
    color: #555;
    margin-left:50px;
}

.text-wrapper {
    display: inline-block;
    width: 40%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
}
/*=======Button=======*/
.buttonsbt {
    background-color: #fff;
    outline: none;
    color: #000000;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    margin: 20px 192px;
    border-radius: 25px;
    width: 15%;
    padding: 10px 0;
    text-transform: uppercase;
    border-color: #ced4da;
}

    .buttonsbt:hover,
    .buttonsbt:focus {
        color: #fff;
        background: -webkit-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
        background: -moz-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
        background: -o-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
        background: linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    }

.textform{
    font-weight: bold;
}
.labelstyle{
    margin-bottom: 15px;
}
.buttonsave {
    background-color: #fff;
    outline: none;
    color: #000000;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    margin: 10px 215px;
    border-radius: 25px;
    width: 15%;
    padding: 10px 0;
    text-transform: uppercase;
    border-color: #ced4da;
}

    .buttonsave:hover,
    .buttonsave:focus {
        color: #fff;
        background: -webkit-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
        background: -moz-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
        background: -o-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
        background: linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    }
.border {
    border-style: solid;
    border-color: #ccc;
    padding: 20px;
    width: 75%;
    height: 60%;
}
.usernamelink:link {
    color: white;
    text-transform: capitalize;
}