.formlogin {
    /* margin: 10vh auto;*/
}

.bgcolor {
    background: -webkit-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    background: -moz-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    background: -o-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    background: linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
}
.heading {
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 25px;
    color: #fff;
    background: -webkit-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    background: -moz-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    background: -o-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    background: linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    text-align: center;
    height: 80px;
    color: #fff;
    font-weight: bold;
    line-height: 80px;
    width: 100%;
    margin-top: 10px;
}

.panel-login {
    border-color: #000;
    font-family: 'Times New Roman', Times, serif;
}

    .panel-login > .panel-heading {
        color: #000;
        background-color: #fff;
        border-color: #808080;
        text-align: center;
    }

        .panel-login > .panel-heading a {
            text-decoration: none;
            color: #666;
            font-weight: bold;
            font-size: 15px;
        }

            .panel-login > .panel-heading a.active {
                color: #000;
                font-size: 18px;
            }

        .panel-login > .panel-heading hr {
            margin-top: 10px;
            margin-bottom: 0px;
            clear: both;
            border: 0;
            height: 1px;
        }

    .panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
        height: 45px;
        border: 1px solid #ddd;
        font-size: 16px;
    }

    .panel-login input:hover,
    .panel-login input:focus {
        outline: none;
        border-color: #ccc;
    }

.btn-login {
    background-color: #fff;
    outline: none;
    color: #000000;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #ced4da;
    border-radius: 30px;
}

    .btn-login:hover,
    .btn-login:focus {
        color: #fff;
        background: -webkit-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
        background: -moz-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
        background: -o-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
        background: linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    }


.btn-register {
    background-color: #fff;
    outline: none;
    color: #000000;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #000000;
}

    .btn-register:hover,
    .btn-register:focus {
        color: #fff;
        background: -webkit-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
        background: -moz-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
        background: -o-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
        background: linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    }

.social-box {
    margin: 0 auto;
    padding: 38px;
    border-bottom: 1px #ccc solid;
}

    .social-box a {
        font-weight: bold;
        font-size: 18px;
        padding: 8px;
    }

        .social-box a i {
            font-weight: bold;
            font-size: 20px;
        }



.btnsave {
    background: -webkit-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    background: -moz-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    background: -o-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    background: linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
}

.header {
    text-align: center;
    padding: 3px;
    background: -webkit-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    background: -moz-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    background: -o-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    background: linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    color: white;
}

.btnsignin {
    background-color: #fff;
    color: #000000;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    margin-left: 65%;
    padding: 10px 0;
    text-transform: uppercase;
    border-color: #ced4da;
}

    .btnsignin:hover {
        color: #fff;
        background: -webkit-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
        background: -moz-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
        background: -o-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
        background: linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    }
.btn-reset {
    color: #000000;
    font-size: 14px;
    height: auto;
    padding: 12px 0;
    text-transform: uppercase;
    border-color: #ced4da;
    border-radius: 30px;
    width: 20%;
    margin-left: 15%;
    margin-top: 15px;
    margin-bottom: 20px;
}

    .btn-reset:hover,
    .btn-reset:focus {
        color: #fff;
        background: -webkit-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
        background: -moz-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
        background: -o-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
        background: linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    }

.eventlogin_container {
    width: unset !important;
}
.linkpass{
    margin-right: 50%
}

.welcomeuser {
    margin: 25px;
    font-size:large;
}
.required:after {
    content: " *";
    color: red;
}
.labelwrap {
    display: inline-block;
    text-align: right;
    position: relative;
    float: initial;
    margin-bottom: 20px;
    overflow: hidden;
    color: #555;
    margin-left: 20px;
}
.labelwrapper {
    display: inline-block;
    position: relative;
    float: initial;
    margin-bottom: 20px;
    overflow: hidden;
    color: #555;
    margin-left: 20px;
}
.textwrap {
    display: inline-block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
    margin-left: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
}